/* global reset */
*{
  margin : 0;
  padding:0;
  box-sizing: border-box;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input,button{
  appearance:none;
  background: none;
  border: none;
  outline: none;
}

/* form */
.form{
  display: block;
  position:relative;
  margin-top: 50px;
}

.form:after{
  content:"";
  display: block;
  position: absolute;
  top:-5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right,rgb(173, 73, 73),rgb(124, 238, 99));
}

.form .form-inner{
  z-index: 2;
  background-color: #fff;
  display: block;
  position: relative;
  padding: 30px;
}

.form .form-inner h2{
  color: #888;
  font: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.form .form-inner .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label{
  display: block;
  color: #666;
 transition: 0.4s;
}

.form-inner .form-group:focus-within label{
  color: #FE4880;
}

.form .form-inner .form-group input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #979393;
  transition: 0.4s;
  border-radius: 8px;
}

.form .form-inner .form-group input:focus{
  box-shadow: 0px 0px 3px black;
}

.form .form-inner input[type="submit"]{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: blue;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  cursor: pointer;
} 

      /* datalist */
.datalist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  font-variant: small-caps;
  width: 1000px;
}

.form-control{
  border: 2px solid rgb(117, 201, 250);
  padding: 2px 20px;
  float: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 15px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

.formSubmit {
  display: flex;
  gap: 5px;
}

.formSubmit td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.formSubmit  {
  font-size: 28px;
}

.deletebtn{
  margin: 5px 0;
  background-color: rgb(117, 201, 250);
  padding: 3px;
  border-radius: 5px;
}
.addbtn{
  background-color: #000;
  color: #fff;
  width: 30px;
  height: 20px;
  border-radius: 5px;
  font-size: 10px;
}
.addField{
  height: 20px;
  background-color: rgb(208, 209, 210);
  border-radius: 5px;
  padding: 5px;
}
